<div class="card-spacing">
    <div class="card">
        <div class="img-holder">
            <img ng-src="{{model.image}}" class="img-responsive img-circle person">
        </div>
        <div class="card-content">&nbsp;&nbsp;&nbsp;{{model.content}}
            <span class="card-quotesImg"><img src="img/quotes.png"></span>
        </div>
        <div class="card-footer">
            <div><b>{{model.name}}</b></div>
            <div><span class="company-name"><b>{{model.company}},</b></span><span>{{model.des}}</span></div>
        </div>
    </div>
</div>