<section>
    <div class="banner-img">
        <img src="frontend/img/aboutUs/1.jpg" alt="Banner Image" class="img-responsive">
    </div>
    <div class="about-us section-padding">
        <div class="container">
            <div class="about-us-content">
                <div class="about-company-mission">
                    <h3>Our Mission</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque risus sit amet felis
                        imperdiet congue. Quisque lectus libero, aliq quis lacinia nec, tempus nec massa. Sed non posuere
                        odio. Duis fringilla a risus nec consequat.
                    </p>
                </div>
                <div class="about-company-desc">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque risus sit amet felis
                        imperdiet congue. Quisque lectus liberofbder, aliquet quis lacinia nec, tempus nec massa. Sed non
                        posuere odio. Duis fringilla a risus nec consequat. Nunc faucibus congue urna tempus ulam Nullam
                        a orci urna.Donec bibendum scelerisque est eget tristique.Integer eget erat molestie, varius nisl
                        vel, finibus felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Proin sed consectetur lectus, ac luctus tortor aughle. Cras dapibus justo erat, id porta
                        lacus cursus tristique. Nullam fermentum augue leo. Praesent quis rhoncus nisl. Nulla sed nunc justo
                        asghtekld Aliquam ultricies hendrerit tempus. Etiam sodales pulvinar sapien, et feugiat metus elementum
                        nec. Nulla sagittis consectetur armalesuadama. Proin interdum bibendum eros, sed semper ex egestas
                        eget.
                    </p>
                </div>
                <div class="about-imgs section-padding">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>
                                    <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class="center-block img-responsive">
                                </figure>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>

                                    <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class="center-block img-responsive">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>

                                    <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class=" center-block img-responsive">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>

                                    <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class="center-block img-responsive">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>

                                    <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class="center-block img-responsive">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-imgs-block">
                                <figure>

                                </figure>
                                <img src="frontend/img/aboutUs/2.jpg" alt="Banner Image" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section-padding bg-lt-gray-color text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="about-comp-desc">
                            <div class="quote-icon">
                                <img src="frontend/img/aboutUs/3.png" alt="Character Design" class="img-responsive">
                            </div>
                            <div class="text-center">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque risus sit
                                    amet t congue. Quisque lectus liberofbder,aliquet quis lacinia nec, tempus nec massa.
                                </h4>
                            </div>
                            <p class="text-left">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin
                                sed consectetur lectus, ac luctus tortor aughle. Cras dapibus justo erat, id porta lacus
                                cursus tristique. Nullam fermentum augue leo. Praesent quis rhoncus nisl. Nulla sed nunc
                                justo asghtekld seize thita borthluyfuly.
                            </p>
                            <div class="quote-icon">

                                <img src="frontend/img/aboutUs/3.png" alt="Character Design" class="center-block img-responsive ">
                            </div>
                            <div class="about-comp-establish font-clr-red ">
                                <h4><b>Name, CEO, TotallySkilled</b></h4>
                                <span>lnc.com, Feb 9, 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>