<section>
    <div class="container">
        <div class="enquiry section-padding">
            <div>
                <h5 class="">Become a TotallySkilled Instructor</h5>
                <p class="padding-bt">We’re actively looking for experts in the energy industry to joint our team as instructors. The people we
                    take on as instructors must have a passion to share their expertise and knowledge with the world. When
                    you join us, you will be part of a expert community and will work with a great team in the studios selected
                    to record you training courses with great producers, directors, and editors that will results in your
                    content being presented in a format that will attract users. Becoming a successful instructor on TotallySkilled
                    will not only enhance your presence in the industry but willgenerate a passive income for you. Our aim
                    is to create a long term win-win relationship with all of our instructors while helping people achieve
                    their goals and ambitions in the Energy Industry. You can learn more about our simple revenue share model
                    here.
                </p>
            </div>
            <div>
                <h5 class="">About Working with TotallySkilled</h5>
                <p>We are passionate about TotallySkilled and want you to share in our vision, goals and profits.</p>
                <p><b>Our vision </b>is to provide a premium service to professionals and newbies to learn Smart Skills to become
                    successful in their careers. Our courses focus on delivering critical skills to students that can be
                    immediately effective in the workplace - enhancing the value of the student and the capabilities of the
                    organizations they work for.
                </p>
                <p><b>Our goal</b> is be the top provider of online training to the Energy Industry. This is the start of a
                    journey that aims to take the theories that people in the Energy Industry learned at schools and colleges
                    into the real world.
                </p>
                <p class="padding-bt "><b>Join us </b> on this journey that will directly benefit the Energy Industry and could make you our valuable
                    instructors a great income!</p>

            </div>
            <div>
                <h5 class="">Apply Now!</h5>
                <p>If you’re interested in becoming an instructor with TotallySkilled, please fill out this form. If there’s
                    a good fit, one of our content managers will reach out to you. Please appreciate that we cannot personally
                    respond to every application, though we will keep your information on file for future consideration.
                    Thank you for your interest, and hope we will creat an excellent course together soon.
                </p>
                <p class="padding-bt ">Regards,<br> TotallySkilled - Content Team</p>
            </div>
            <form action="">
                <div>
                    <h5 class="">About You </h5>
                    <p>Please tell us about yourself and how we can reach you</p>

                    <ul class="list-group">
                        <li class="custom-list-group-item list-group-item">
                            <input type="text" class="custom-form-control" placeholder="First Name">
                        </li>
                        <li class="list-group-item"><input type="text" class="custom-form-control" placeholder="First Name"></li>
                        <li class="list-group-item"><input type="text" class="custom-form-control" placeholder="Last Name"></li>
                        <li class="list-group-item"><input type="email" class="custom-form-control" placeholder="Email"></li>
                        <li class="list-group-item"><input type="url" class="custom-form-control" placeholder="Linked Profile URL"></li>
                        <li class="list-group-item"><input type="text" class="custom-form-control" placeholder=" Twitter Handle"></li>
                    </ul>
                </div>
                <div>
                    <h5 class="">About Your Area of Expertise </h5>
                    <p>Please tell us a bit about your background, experience and area of expertise. The more detail you can
                        provide, the better (“I have expertise in Project Management in Offshore Platforms and have managed
                        7 projects in the subject and taught classes on the topic” will draw more interest than “I am a Project
                        Manager”)
                    </p>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div>
                    <h5>What languages are you fluent and qualified to teach?</h5>
                    <div class="form-group">
                        <input type="text" placeholder="List of languages" class="form-control">
                    </div>
                </div>
                <div>
                    <p>Which of these topics are you qualified to teach?</p>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Upstream Skills</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-1">
                                        <label for="skill-1">Exploration Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-2">
                                        <label for="skill-2">Production Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-3">
                                        <label for="skill-3">Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-4">
                                        <label for="skill-4">Onshore Production Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-5">
                                        <label for="skill-5">Offshore Production Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-6">
                                        <label for="skill-6">Pipeline Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-7">
                                        <label for="skill-7">Tanker Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-8">
                                        <label for="skill-8">Train Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-9">
                                        <label for="skill-9">Road Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-10">
                                        <label for="skill-10">Others</label>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-3">
                            <h5>Midstream Skills</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-11">
                                        <label for="skill-11">Storage Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-12">
                                        <label for="skill-12">Oil Storage Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-13">
                                        <label for="skill-13">Gas Storage Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-14">
                                        <label for="skill-14">Oil Transportation Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-15">
                                        <label for="skill-15">Gas Transportation Skills</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>Downstream</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-16">
                                        <label for="skill-16">Refineries Skills</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-17">
                                        <label for="skill-17">Petrochemical Skills/label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value=""  id="skill-18">
                                        <label for="skill-18">TBA</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-19">
                                        <label for="skill-19">TBA</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-20">
                                        <label for="skill-20">TBA</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="skill-21">
                                        <label for="skill-21">TBA</label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Please tell us about any prior video training courses, books, publications, blogs, or websites you’ve
                        contributed to. Note that due to security requirements, URLs are not allowed in this field. </p>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div>
                    <h5>About Your Course</h5>
                    <p>Please tell us about the course you’d like to teach.</p>
                    <div class="form-group">
                        <input type="text" placeholder="Course Title" class="form-control">
                    </div>
                </div>
                <div>
                    <p>What topics are you covering? What’s the approach? What will the viewer know and/or be able to accomplish
                        after watching your movie? Course Description</p>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div>
                    <p>Who will most benefit from your course? Are there secondary audiences who would also get value from the
                        course?
                    </p>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div>
                    <h5 class="">Sample Movie</h5>
                    <p>Everyone is asked to provide a short sample movie before becoming an instructor. Our Sample Movie Guidelines
                        explain what we’re looking for. If you have a video that you think meets the guidelines or is otherwise
                        exemplary of your teaching style, please post it on YouTube or Vimeo and provide a link to the private
                        or public video here. (Security considerations require us to restrict URLs to those sites only.)
                        If you do not have a video, the content manager who contacts you can collaborate on an appropriate
                        topic.
                    </p>
                    <div class="form-group">
                        <input type="url" placeholder="Sample Movie URL" class="form-control">
                    </div>
                    <p><button class="btn enquiry-submit--btn">Submit</button></p>
                </div>
            </form>
        </div>
    </div>
</section>