<section class="faq">
    <div class="banner-image">
        <img src="frontend/img/faq/1_3.jpg" alt="Banner Image" class="img-responsive">
    </div>
    <div class="container">
        <div class="faqs-content section-padding">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="faq-pannel panel-default " is-open="true">
                    <uib-accordion-heading>
                        General Questions and Polices <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="faqs">
                        <div class="question-section">
                            <h5 class="question">What is an online course? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">How long does a course run? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">Do I need to buy any additional resources or materials to participate? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="faq-pannel panel-default" is-open="true">
                    <uib-accordion-heading>
                        Pricing and Purchasing Questions
                        <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="faqs">
                        <div class="question-section">
                            <h5 class="question">What is an online course? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">How long does a course run? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">Do I need to buy any additional resources or materials to participate? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="faq-pannel panel-default" is-open="true">
                    <uib-accordion-heading>
                        Technical Questions
                        <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="faqs">
                        <div class="question-section">
                            <h5 class="question">What is an online course? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">How long does a course run? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                        <div class="question-section">
                            <h5 class="question">Do I need to buy any additional resources or materials to participate? </h5>
                        </div>
                        <div class="answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur finibus. Vivamus ac
                                maximus nisl. Etiam eleifend eget purus in tin bi eget dolor vitae felis consequat congue.
                                Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor sem justo, vitae consectetur
                                leo faucibus non.Namus at orci in, finibus odio. Integer tincidunt maximus varius. Aenean
                                feugiat tristique ipsum in interdum. Donec neque sem, fermentum ac molestie vel, facilisis
                                id turps. dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet.
                                Fusce tincidunt quis velit non tristique. Aenean tincidunt massa non eros sodale sodales
                                nisl ex, at hendrerit nunc iaculisa.

                            </p>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mar-lr">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading class="strip-gray">
                            I can have markup, too!
                            <i class="pull-right fa mar-t" ng-class="{'fa fa-minus': status.open, 'fa fa-plus': !status.open}"></i>
                        </uib-accordion-heading>
                        <div>
                            <h5> This is just some content to illustrate fancy headings.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellat nobis tenetur ipsa asperiores
                                nesciunt repellendus, excepturi molestiae, aspernatur pariatur dignissimos consequatur in
                                veritatis placeat labore laborum accusamus tempore magni!</p>
                        </div>
                        <div>
                            <h5> This is just some content to illustrate fancy headings.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellat nobis tenetur ipsa asperiores
                                nesciunt repellendus, excepturi molestiae, aspernatur pariatur dignissimos consequatur in
                                veritatis placeat labore laborum accusamus tempore magni!</p>
                        </div>
                        <div>
                            <h5> This is just some content to illustrate fancy headings.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellat nobis tenetur ipsa asperiores
                                nesciunt repellendus, excepturi molestiae, aspernatur pariatur dignissimos consequatur in
                                veritatis placeat labore laborum accusamus tempore magni!</p>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="status.open1">
                        <uib-accordion-heading>
                            I can have markup, too!
                            <i class="pull-right fa mar-t" ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>
                        </uib-accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>