<section>
    <div class="moduletest-bg mar-b">
        <div class="bg-overlay-module"></div>
        <div class="text-module text-center">
            <h2>Privacy Policy</h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="privacy-policy mar-lr">
                <div class="mar-b">
                    <h6>EFFECTIVE DATE: January 20,2017</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius. Aenean feugiat tristique ipsum in interdum. Donec neque sem,
                        fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan dit nulla, a pretium lorem
                        feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt quis velit non tristique.
                        Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl ex, at hendrerit nunc iaculisa.<a>help@totallyskilled.com</a>                        </p>
                </div>
                <div class="mar-b">
                    <h6>WILL THIS PRIVACY POLICY EVER CHANGE?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius.<a>help@totallyskilled.com</a> Aenean feugiat tristique ipsum
                        in interdum. Donec neque sem, fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan
                        dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt
                        quis velit non tristique. Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl
                        ex, at hendrerit nunc iaculisa. </p>
                </div>
                <div class="mar-b">
                    <h6>WHAT INFORMATION DOES TOTALLYSKILLED COLLECT?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius.<a>help@totallyskilled.com</a> Aenean feugiat tristique ipsum
                        in interdum. Donec neque sem, fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan
                        dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt
                        quis velit non tristique. Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl
                        ex, at hendrerit nunc iaculisa. </p>
                </div>
                <div class="mar-b">
                    <h6>WILL TOTALLYSKILLED SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius. Aenean feugiat tristique ipsum in interdum. Donec neque sem,
                        fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan dit nulla, a pretium lorem
                        feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt quis velit non tristique.
                        Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl ex, at hendrerit nunc iaculisa.
                        </p>
                </div>
               
                <div class="mar-b">
                    <h6>IS PERSONAL INFORMATION ABOUT ME SECURE? </h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus.<a>help@totallyskilled.com</a> Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt.
                        Donec in odio.or bi eget dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus
                        laoreet. Aenean porttitor sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat,
                        volut at orci in, finibus odio. Integer tincidunt maximus varius. Aenean feugiat tristique ipsum
                        in interdum. Donec neque sem, fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan
                        dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt
                        quis velit non tristique. Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl
                        ex, at hendrerit nunc iaculisa. </p>
                </div>
                <div class="mar-b">
                    <h6>WHAT PERSONAL INFORMATION CAN I ACCESS? </h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius. Aenean feugiat tristique ipsum in interdum. Donec neque sem,
                        fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan dit nulla, a pretium lorem
                        feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt quis velit non tristique.
                        Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl ex, at hendrerit nunc iaculisa.<a>help@totallyskilled.com</a>                        </p>
                </div>
                <div class="mar-b">
                    <h6>WHAT CHOICE DO I HAVE? </h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius.<a>help@totallyskilled.com</a> Aenean feugiat tristique ipsum
                        in interdum. Donec neque sem, fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan
                        dit nulla, a pretium lorem feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt
                        quis velit non tristique. Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl
                        ex, at hendrerit nunc iaculisa. </p>
                </div>
                <div class="mar-b">
                    <h6>WHAT IF I HAVE QUESTIONS ABOUT THIS POLICY?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur dui vitae lectus consectetur
                        finibus. Vivamus ac maximus nisl. Etiam eleifend eget purus in tincidunt. Donec in odio.or bi eget
                        dolor vitae felis consequat congue. Maecenas vel turpis sit amet metus luctus laoreet. Aenean porttitor
                        sem justo, vitae consectetur leo faucibus non.Nam quis turpis placerat, volut at orci in, finibus
                        odio. Integer tincidunt maximus varius. Aenean feugiat tristique ipsum in interdum. Donec neque sem,
                        fermentum ac molestie vel, facilisis id turpis. Nunc pellentesqueblan dit nulla, a pretium lorem
                        feugiat eu. Curabitur maximusfringilla quam at imperdiet. Fusce tincidunt quis velit non tristique.
                        Aenean tincidunt massa non eros sodales bibendum. Vestibulum sodales nisl ex, at hendrerit nunc iaculisa.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>