<div class="login-modal">
    <div class="cancel-div pull-right">
        <div class="modal-cancel" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    <div class="company_logo"><img src="img/logo.png" alt="LOGO" height="40"></div>
    <div>
        <div class="ts-navtabs">
                    <div class="login">
                        <!--<pre>{{formData|json}}</pre>
                        <pre>{{loginForm.password|json}}</pre>-->
                       <span>You have no access to this page.Login to access this page.</span>
                    </div>
        </div>
    </div>
</div>