<div class="footer_styling">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5><b>About Us</b></h5>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press Center</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5><b>Products</b></h5>
                <ul>
                    <li><a href="">Our Plans</a></li>
                    <li><a href="">Free Trials</a></li>
                    <li><a href="">Academic Solutions</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5><b>Support</b></h5>
                <ul>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">System Requirements</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5><b>Apps</b></h5>
                <ul>
                    <li><a href="">iPhone &amp; iPad</a></li>
                    <li><a href="">Android</a></li>
                    <li><a href="">Windows 8</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <h5><b>Connect</b></h5>
                    <span><img src="" alt="facebook link"></span>
                    <span><img src="" alt="twitter link"></span>
                    <span><img src="" alt="google link"></span>
                </div>
            </div>
        </div>
    </div>
</div>