<div class="footer_menu">
    <div class="container">
        <div class="footer_menu_margin">
            <div class="row">
                <div class="col-md-2">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Press Center</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Products</h5>
                    <ul>
                        <li><a href="">Our Plans</a></li>
                        <li><a href="">Free Trials</a></li>
                        <li><a href="">Academic Solutions</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="">Support</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">System Requirements</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Apps</h5>
                    <ul>
                        <li><a href="">iPhone &amp; iPad</a></li>
                        <li><a href="">Android</a></li>
                        <li><a href="">Windows 8</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <h5><b>Connect</b></h5>
                        <a><img src="img/fb.png" alt="facebook link" width="30"></a>
                        <a><img src="img/twt.png" alt="twitter link" width="30"></a>
                        <a><img src="img/google.png" alt="google link" width="30"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_margin">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017 TotallySkilled.com, lnc.<a>Site Map</a> <a>Privacy Policy</a></p>
                </div>
                <div class="col-md-6">
                    <div class="right-footer pull-right">
                        <p>Designed & Developed by <b><a href="http://www.wohlig.com/">Wohlig Technology</a></b>
                            <!--<div class="arr_top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>